html {
            min-height: 100%;
        }
        div {
            background-color:rgba(77, 77, 77, 0.5);
            padding:20px;
            margin-left: 5%;
            margin-right: 5%;
        }
        td:first-child {
            font-weight: bold;
        }
        nav {
            margin-bottom: 10px;
            background-color:rgba(0, 0, 0, 0.5);
        }
        @media (max-width: 576px) {
            body {
                margin-top: 150px;
            }
        }
        @media (min-width: 576px) {
            body {
                margin-top: 80px;
            }
        }
        body {
            padding-top:50px;
            background-color:black;
            background-blend-mode: lighten;
        }
        nav a {
            color:white;
        }

        h3 {
            text-align: center;
            padding:20px;
        }

        #headshot {
            display:block;
            margin-left: auto;
            margin-right: auto;
            border-radius:50%;
            height:100px;
            width:100px;
        }
